/* * {
  box-sizing: border-box;
} */

:root {
  --bg-color: #66ae70;
  --bg-header: #255224;
  --text-color: black;

  --text-color-white: #ffffff;
  --title-site-color: #95d59b;

  --action-color-text: rgb(88, 233, 80);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "PT Sans";
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* index */
.header-block {
  background-color: var(--bg-header);
}

.navi-head {
  display: flex;
  align-items: center;
  margin: 0;
}

.list-header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 193px;
}

.header-list {
  margin-left: 40px;
  color: var(--action-color-text);
  font-size: 56px;
}

.header-nav-active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--logo-style-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-nav:hover {
  color: var(--action-color-text);
  /* font-size: 26px; */
  text-decoration: underline;
}

/* /* .header-nav-link {
  color: var(--text-color-white);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
} */

.section-people {
  background-color: #f2eeee;
  display: flex;
  padding: 30px;
}

.form {
  background-color: #f2eeee;
  border: 3px solid #255224;
  /* padding: 10px; */
  margin-top: 20px;
}

.button {
  background-color: #255224;
  border: none;
  color: var(--text-color-white);
  padding: 26px;
  cursor: pointer;
  font-size: 26px;
}

.button:hover {
  background-color: var(--action-color-text);
  color: black;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgb(13, 64, 22);
}

.footer {
  background-color: var(--bg-header);
  color: var(--text-color-white);
  font-size: 36px;
  font-style: italic;
  padding: 21px;
}

.title_site {
  background-color: var(--title-site-color);
  padding: 30px;
  font-style: italic;
  margin-top: 0;
}

.text-elem {
  background-color: var(--bg-header);
  color: var(--text-color-white);
  font-size: 26px;
  padding: 30px;
  margin-left: 20px;
}

.caption-site {
  color: var(--text-color-white);
  font-weight: bold;
  font-size: 75px;
  text-align: center;
}

.desc-site {
  color: var(--text-color-white);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.section-index {
  font-size: 24px;
  font-style: italic;
  background-color: var(--text-color-white);
  box-sizing: border-box;
  padding: 30px;
  margin-top: 0;
  text-align: center;
}

.label-form {
  font-size: 30px;
  text-align: center;
}

/* about-site */
.caption-about-site {
  color: var(--text-color-white);
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.subtitle-about-site {
  color: var(--text-color-white);
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 0;
}


.list-text {
  font-size: 30px;
  text-align: center;
}

/* hotel-house */
.section-house {
  background-color: var(--bg-header);
  padding: 10px;
  margin: 30px;
}

.house-hotel {
  background-color: var(--title-site-color);
  font-size: 22px;
}

/* contact */
.footer-title {
  text-decoration: underline;
  font-size: 32px;
}

.contact {
  font-size: 30px;
}

.list-contact {
  list-style: none;
  padding: 0;
}

.nav-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/123451.jpg);
  background-position: center;
}

.picture-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Rectangle\ 39.jpg);
  background-position: center;
}
